{%extends "BICIO/base.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
    
{% endblock %}

{% block intro-text %} 
    Incidentes en Santiago
{% endblock %}

{% block active2 %}
id="active"
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li><a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}">Fechas</a></li>
  <li><a href="/GRAFICOS/menuIncidentCicloviaSantiago/?fromDate={{fromDate}}&untilDate={{untilDate}}">Ciclovía o Santiago</a></li>
  <li class="active"><a href="#">Santiago</a></li>
{% endblock %}

{% block menu%}
    
{% endblock %}

{% block content %}
    {% block datepicker %}
        
    {% endblock %}

      
    {% block ciclovias %}
    
    <div id="color">
      Desde: {{fromDate}} --- Hasta: {{untilDate}}
      <a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}">
        <span  class="glyphicon glyphicon-wrench">
        Cambiar fechas
        </span> 
      </a>
    </div>
    <br><br>
    {% endblock %}

    {% block graphics %}
    <!--For display Graphic-->
      <div id="canvas-holder">
        <canvas id="chart-area" width="250" height="250"/>
      </div>
      <div id="legend">
        <div id="car">Automovilísticos: </div>
        <div id="delictual">Delictual: </div>
        <div id="total">Total Tweets Analizados: </div>
      </div>
    {% endblock %}
{% endblock %}

{% block help %}

<h2>Menú</h2>
<p></p>
<h2></h2>
<p></p>
<h2 id="about">Sobre el proyecto BICIO </h2>
<p>Bicio es un proyecto de seguridad vial enfocado a las Ciclovías que se encuentran en la Región Metropolitana de Santiago de Chile. Tiene como fuente información la red social Twitter.</p>

{% endblock %}

{% block scripts %}
<script type="text/javascript"> enableWS()</script>
<script type="text/javascript">
  jQuery(document).ready(function($){

    var myString_XML = function(){/*
        {{msje2}}
    */}.toString().slice(14,-3);
 
    //For display graphic
    //rojo "#ea5e45" -- "#f58263" -- car
    //naranjo "#ffc150" -- "#ffd872" -- Incidentes delictuales
    //celeste "#0acaf1" -- "#04e5f9" -- Seguro
    //morado "#b71beb" -- "#d126f1" -- Inseguro
  var sumCarVar = {{sumCar}},
  sumDelVar = {{sumDel}},
  total = sumCarVar+sumDelVar,
  porcentCar = (sumCarVar/total)*100,
  porcentDel = (sumDelVar/total)*100,
  porcentCar = parseFloat(porcentCar.toPrecision(4)),
  porcentDel =  parseFloat(porcentDel.toPrecision(4)),  
  totalTweets = {{total}};

  if(isNaN(porcentCar) && isNaN(porcentDel)){
    displayDialog('<div id="dialog"> No se han encontrado tweets en el rango de fecha seleccionado intente\ncon otro rango de fecha válido más amplio</div>',7000,'notice');
  }else{
    if(isNaN(porcentCar)){
      displayDialog('<div id="dialog"> No se han encontrado tweets sobre incidentes automovilísticos asociados a al rango de fechas seleccionado</div>',7000,'notice');
    };
    if(isNaN(porcentDel)){
      displayDialog('<div id="dialog"> No se han encontrado tweets sobre incidentes delictuales asociados a la ciclovía al rango de fechas seleccionado</div>',7000,'notice');
    };
  };
  
  var pieData = [
    {
      value: porcentCar,
      color: "#ea5e45",
      highlight: "#f58263",
      label: "Automovilísticos"
    },
    {
      value: porcentDel,
      color: "#ffc150",
      highlight: "#ffd872",
      label: "Delictuales"                                                                              
    }
    ];

    window.onload = function(){
      var ctx = document.getElementById("chart-area").getContext("2d");
      window.myPie = new Chart(ctx).Pie(pieData);
    };
    $("#car").append(porcentCar.toFixed(2)+'%');
    $("#delictual").append(porcentDel.toFixed(2)+'%');
    $("#total").append(totalTweets);
  });
</script>
{% endblock %}