{%extends "BICIO/baseDateForm.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
    
{% endblock %}

{% block intro-text %} 
    Seleccione mes y año para el intervalo de fechas
{% endblock %}

{% block active2 %}
id="active"
{% endblock %}

{% block destiny%}"/GRAFICOS/disFreqIncidentSantiago"{% endblock %}

{% block help %}

<h2>Menú</h2>
<p></p>
<h2></h2>
<p></p>
<h2 id="about">Sobre el proyecto BICIO </h2>
<p>Bicio es un proyecto de seguridad vial enfocado a las Ciclovías que se encuentran en la Región Metropolitana de Santiago de Chile. Tiene como fuente información la red social Twitter.</p>

{% endblock %}
