{%extends "BICIO/base.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
    
{% endblock %}

{% block intro-text %} 
    Incidentes por ciclovía
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li><a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}">Fechas</a></li>
  <li><a href="/GRAFICOS/menuIncidentCicloviaSantiago/?fromDate={{fromDate}}&untilDate={{untilDate}}">Ciclovía o Santiago</a></li>
  <li class="active"><a href="#">Ciclovía</a></li>
{% endblock %}

{% block active2 %}
id="active"
{% endblock %}

{% block menu%}
    
{% endblock %}

{% block content %}
    {% block datepicker %}
        
    {% endblock %}

      
    {% block ciclovias %}
    
    <!--Select Ciclovia-->
    <!--Select Ciclovia-->
    <form method="GET" action="/GRAFICOS/disFreqIncidentCiclovia/" class="bs-docs-example">
      <input data-format="yyyy-MM-DD" type="text" name="fromDate" value={{fromDate}} readonly>
      <input data-format="yyyy-MM-DD" type="text" name="untilDate" value={{untilDate}} readonly>
      <a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}&ciclovia={{ciclovia}}">
          <span  class="glyphicon glyphicon-wrench">
          Cambiar fechas
          </span> 
      </a>
      <br>
      <label id="color"> CICLOVÍAS MÁS TRANSITADAS </label>
      <select id="ciclovias" name="ciclovia" value={{ciclovia}} readonly>
        <option id="color">lyon</option>
        <option id="color">isabel la catolica</option>
        <option id="color">pocuro</option>
        <option id="color">parque bustamante</option>
        <option id="color">rosas</option>
        <option id="color">pajaritos</option>
        <option id="color">alameda</option>
        <!---<option id="color">Blanco Encalada</option>-->
        <!--<option id="color">Matta</option>-->
        <!--<option id="color">Grecia</option>-->
        <!--<option id="color">República</option>-->
        <option id="color">almeyda</option>
      </select>
      <input id="color" type="submit" value="Buscar">
    </form>

    {% endblock %}

    {% block graphics %}
    <!--For display Graphic-->
    <div>
      <h4 id="color">Ciclovia: {{ciclovia}} </h4>
      <div id="canvas-holder">
        <canvas id="chart-area" width="250" height="250"/>
      </div>
      <div id="legend">
        <div id="car">Automovilísticos: </div>
        <div id="delictual">Delictual: </div>
        <div id="total">Total Tweets Analizados: </div>
      </div>
    </div>

    {% endblock %}
{% endblock %}

{% block help %}

<h2 id="about">Incidentes más recurrentes por ciclovía </h2>
<p>El gráfico muestra la distribución porcentual de los tipos de incidentes automovilísticos y delicuales en la ciclovia seleccionada</p>
<p>Puede seleccionar la ciclovía de su preferencia en el intervalo de fechas ya definido. SI desea otro intervalo de fechas, selecciones cambiar fechas.</p>

{% endblock %}

{% block scripts %}
<script type="text/javascript"> enableWS()</script>
<script type="text/javascript">
  jQuery(document).ready(function($){

    //Selección de Ciclovia
    $("#ciclovias").change(function(){
      var ciclovia = $(this).val();//se obtiene el valor seleccionado
      //alert("Ciclovia "+ciclovia);
    });

    //For display graphic
    //rojo "#ea5e45" -- "#f58263" -- car
    //naranjo "#ffc150" -- "#ffd872" -- Incidentes delictuales
    //celeste "#0acaf1" -- "#04e5f9" -- Seguro
    //morado "#b71beb" -- "#d126f1" -- Inseguro
  var sumCarVar = {{sumCar}},
  sumDelVar = {{sumDel}},
  total = sumCarVar+sumDelVar,
  //porcentCar = (sumCarVar/total)*100,
  //porcentDel = (sumDelVar/total)*100;
  porcentCar = (sumCarVar/total)*100,
  porcentDel = (sumDelVar/total)*100,
  porcentCar = parseFloat(porcentCar.toPrecision(4)),
  porcentDel =  parseFloat(porcentDel.toPrecision(4)),
  totalTweets = {{total}};
  //displayDialog(text,stayTime,type)
  if(isNaN(porcentCar) && isNaN(porcentDel)){
    displayDialog('<div id="dialog"> No se han encontrado tweets en el rango de fecha seleccionado intente\ncon otra ciclovía, en su defecto seleccione un rango de fecha válido más amplio </div>',7000,'notice');
  }else{
    if(isNaN(porcentCar)){
      displayDialog('<div id="dialog">No se han encontrado tweets sobre incidentes autimovilísticos asociados a la ciclovía en el rango de fechas seleccionado</div>',7000,'notice');
    };
    if(isNaN(porcentDel)){
      displayDialog('<div id="dialog"> No se han encontrado tweets sobre incidentes delictuales asociados a la ciclovía en el rango de fechas seleccionadoz</div>',7000,'notice');
    };
  };

  var pieData = [
    {
      value: porcentCar,
      color: "#ea5e45",
      highlight: "#f58263",
      label: "Automovilísticos"
    },
    {
      value: porcentDel,
      color: "#ffc150",
      highlight: "#ffd872",
      label: "Delictuales"
    }
    ];
 
    window.onload = function(){
      var ctx = document.getElementById("chart-area").getContext("2d");
      window.myPie = new Chart(ctx).Pie(pieData);
    };
    $("#car").append(porcentCar+'%');
    $("#delictual").append(porcentDel+'%');
    $("#total").append(totalTweets);
  });

</script>
{% endblock %}