{%extends "BICIO/base.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
    
{% endblock %}

{% block intro-text %} 
    Seleccionar consulta
{% endblock %}

{% block active2 %}
id="active"
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li><a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}">Fechas</a></li>
  <li class="active"><a href="#">Ciclovía o Santiago</a></li>
{% endblock %}

{% block menu%}

<div id="color">
	Desde: {{fromDate}} --- Hasta: {{untilDate}}
	<a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}">
		<span  class="glyphicon glyphicon-wrench">
		Cambiar fechas
		</span> 
	</a>
</div>
<a href="/GRAFICOS/disFreqIncidentSantiago/?fromDate={{fromDate}}&untilDate={{untilDate}}">
	<span id="color" class=" glyphicon glyphicon-hand-right">
	<button type="button" class="btn btn-default">Ver qué tipo de incidentes son más frecuentes en Santiago
	</button>
	</span> 
</a>
<br><br>
<a href="/GRAFICOS/disFreqIncidentCiclovia/?fromDate={{fromDate}}&untilDate={{untilDate}}&ciclovia=lyon">
	<span id="color" class=" glyphicon glyphicon-hand-right"></span>
	<button type="button" class="btn btn-default">Ver cómo se distribuyen los incidentes más frecuentes por ciclovía
	</button> 
</a>  
      
{% endblock %}

{% block help %}


<h2 id="about">Incidentes más recurrentes </h2>
<p>Se poseen dos tipos de consultas: Incidentes recurrentes en Santiago o la consulta específica por ciclovía en el rango de fecha ya seleccionado.</p>
<p>Si lo desea puede cambiar el intervalo de fecha, devolviéndose a la página anterior</p>

{% endblock %}