{%extends "BICIO/base.html"%}

{% block map %}
<div style="margin-top:-9%;">
    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map_canvas" style="width:93%; height:70%;"></div>
    <div id="legend-map">
      <span id="safe" style="color: white; background-color: transparent"><img style="border-radius:30px;" width="15%" height="15%" src="/static/BICIO/img/maps/seguro.png" > Seguro: </span>
      <br>
      <span id="unsafe" style="color: white; background-color: transparent"><img style="border-radius:30px;" width="15%" height="15%" src="/static/BICIO/img/maps/inseguro.png" > Inseguro: </span>
      <br>
      <span id="total" style="background-color: transparent">Total Tweets Analizados: </span>
    </div>
</div>
    
{% endblock %}

{% block scripts %}
    <script type="text/javascript"> enableWS()</script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script type="text/javascript">
        // Adding 500 Data Points
        var map, pointarray, heatmap;

        var safe = {{listGeo1}},
            unsafe = {{listGeo2}};

        var taxiData1 = [],
            taxiData2 = [];

        for(var i = 0; i < safe.length-1; i++){
            taxiData1.push(new google.maps.LatLng(safe[i], safe[i+1]));
        };
        for(var i = 0; i < unsafe.length-1; i++){
            taxiData2.push(new google.maps.LatLng(unsafe[i], unsafe[i+1]));
        };
        var numSafe = taxiData1.length,
            numUnsafe = taxiData2.length
            totalTweets = numSafe + numUnsafe,
            porcentSafe = (numSafe/totalTweets)*100,
            porcentUnsafe = (numUnsafe/totalTweets)*100;

        if(totalTweets == 0){
          porcentSafe = 0;
          porcentUnsafe = 0;
        };
        var santiago = new google.maps.LatLng(-33.45436,-70.67276);

        function initialize() {
          var mapOptions = {
            zoom: 13,
            minZoom: 11,
            center: santiago,
            maxIntensity: 1000,
            mapTypeId: google.maps.MapTypeId.SATELLITE
          };

          map = new google.maps.Map(document.getElementById('map_canvas'),
              mapOptions);


          var ctaLayer = new google.maps.KmlLayer('http://bicio.ngrok.com/static/BICIO/dataCiclovias/bicio_2013_2014.kml');
          ctaLayer.setMap(map);

          var pointArray = new google.maps.MVCArray(taxiData2);

          heatmap = new google.maps.visualization.HeatmapLayer({
            data: pointArray
          });
          
          heatmap.setMap(map);
          changeRadius();

          changeGradient(Unsafe);

          var pointArray = new google.maps.MVCArray(taxiData1);

          heatmap = new google.maps.visualization.HeatmapLayer({
            data: pointArray
          });

          heatmap.setMap(map);
          changeRadius();

          //changeGradient(Safe);

        var infowindow = new google.maps.InfoWindow({
          content: '{% block infoMap %}{% endblock %}',
          position: santiago
        });
        infowindow.open(map);
        };

        function toggleHeatmap() {
          heatmap.setMap(heatmap.getMap() ? null : map);
        };

        //Gradient
        var Unsafe = [
            'rgba(63, 0, 91, 0)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',            
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',            
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 0.9)',            
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 1)'
          ],
            Safe = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 234, 0.9)',
            'rgba(0, 0, 255, 1)'
          ];
        function changeGradient(myGradient) {
          
          heatmap.set('gradient', heatmap.get('gradient') ? null : myGradient);
        };

        function changeRadius() {
          heatmap.set('radius', heatmap.get('radius') ? null : 20);
        };

        function changeOpacity() {
          heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
        };

        //google.maps.event.addDomListener(window, 'load', initialize);

        $("#safe").append(porcentSafe.toPrecision(4)+'% = '+numSafe);
        $("#unsafe").append(porcentUnsafe.toPrecision(4)+'% = '+numUnsafe);
        $("#total").append(totalTweets);
    </script>
{% endblock %}