{%extends "BICIO/base.html"%}

{% block fecha %}
<div>
	<!--Seccion form date-->
    <center>
    	<!--Input methods-->
	    <!--destiny = "url destiny of fromDate and untilDate"-->
	    <form id="dateForm" method="GET" action={% block destiny %}{% endblock%}>
	        <div class="form-group">
	           <div id="fromDate" class="input-append">
	                <input id="fromDateInput" data-format="yyyy-MM" type="text" name="fromDate" value={{fromDate}} readonly>
	                <span class="add-on">
	                  <i data-date-icon="icon-calendar">
	                  </i>
	                </span>
	           </div>
	            {% block input%}
	            {% endblock %}
	         </div>
	    	    {% block button %}
	         	{% endblock %}
	    </form>
    </center>
    <!--/Seccion display-->
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function() {
    $('#fromDate').datetimepicker({
      pickTime: false
    });
  });
</script>

<script type="text/javascript">
//function displayDialog(text,stayTime,type)
//VALIDATOR
jQuery(document).ready(function($){

	$(document).on('click','#Continuar',function(){

		$('#dateForm').submit(function(){
			var currentDate = new Date(),
				year = currentDate.getFullYear(),
				month = currentDate.getMonth()+1;

			var fromDateInput = $('input:text[name=fromDate]').val(),
			fromDateArray = fromDateInput.split('-');
			
			if(fromDateInput == 'fecha:'){
				displayDialog('Debe seleccionar una fecha',5000,'notice');
				return false;
			}else{
				var intFromYear = parseInt(fromDateArray[0]),
					intFromMonth = parseInt(fromDateArray[1]),
					fromDate = intFromYear*10000+intFromMonth*100,
					intCurrentDate = year*10000+month*100;

				/* VALIDATE FORM DATE*/
				var stringDate = year+"-"+month;
				var error2 = "La fecha seleccionada no debe superar la actual: "+stringDate;

				if(fromDate > intCurrentDate ){
					displayDialog(error2,7000,'notice');
					return false;
				}else{
					$('input:text[name=fromDate]').val(fromDateArray[0]+'-'+fromDateArray[1]);
					$('input:text[name=data1]').val(1);
					$('input:text[name=data2]').val(1);
					$('input:text[name=data3]').val(1);
					return true;
				};
			};
		});
	});
});
</script>
          
{% endblock %}
