{%extends "BICIO/base.html"%}

{% block fecha %}
<div>
	<!--Seccion form date-->
    <center>
    	<!--Input methods-->
	    <!--destiny = "url destiny of fromDate and untilDate"-->
	    <form id="dateForm" method="GET" action={% block destiny %}{% endblock%}>
	        <div class="form-group">
	               <div id="fromDate" class="input-append">
	                    <input id="fromDateInput" data-format="yyyy-MM-dd" type="text" name="fromDate" value={{fromDate}} readonly>
	                    <span class="add-on">
	                      <i data-date-icon="icon-calendar">
	                      </i>
	                    </span>
	                  </div>
	                  <div id="untilDate" class="input-append">
	                    <input id="untilDateInput" data-format="yyyy-MM-dd" type="text" name="untilDate" value={{untilDate}} readonly>
	                    <span id="color" class="add-on">
	                      <i data-date-icon="icon-calendar">
	                      </i>
	                    </span>
	                  </div>
                      {% block input%}
                      {% endblock %}
	         </div>
	          <input id="Continuar" id="color" type="submit" value="Continuar">
	    </form>
    </center>
    <!--/Seccion display-->
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function() {
    $('#fromDate').datetimepicker({
      pickTime: false
    });
  });
</script>
<script type="text/javascript">
$(function() {
    $('#untilDate').datetimepicker({
      pickTime: false
    });
  });
</script>

<script type="text/javascript">
//function displayDialog(text,stayTime,type)
//VALIDATOR
jQuery(document).ready(function($){

	$(document).on('click','#Continuar',function(){

		$('#dateForm').submit(function(){
			var currentDate = new Date(),
				year = currentDate.getFullYear(),
				month = currentDate.getMonth()+1,
				date = currentDate.getDate();

			var fromDateInput = $('input:text[name=fromDate]').val(),
			untilDateInput = $('input:text[name=untilDate]').val(),
			fromDateArray = fromDateInput.split('-'),
			untilDateArray = untilDateInput.split('-');

			if(fromDateInput == 'Desde:' || untilDateInput == 'Hasta:'){
				displayDialog('Debe seleccionar ambas fechas',5000,'notice');
				return false;
			}else{
				var intFromYear = parseInt(fromDateArray[0]),
					intFromMonth = parseInt(fromDateArray[1]),
					intFromDate =  parseInt(fromDateArray[2]),
					intUntilYear = parseInt(untilDateArray[0]),
					intUntilMonth = parseInt(untilDateArray[1]),
					intUntilDate =  parseInt(untilDateArray[2]),
					fromDate = intFromYear*10000+intFromMonth*100+intFromDate,
					untilDate = intUntilYear*10000+intUntilMonth*100+intUntilDate,
					intCurrentDate = year*10000+month*100+date;
					//20140901 - 20140930
					/*
					20140000	==
						0900	
						  10 		
					20140910
					*/

				/* VALIDATE FORM DATE*/
				var stringDate = year+"-"+month+"-"+date;
				var error1 = "La primera fecha (Desde: "+fromDateInput+") debe anteceder a  la segunda (Hasta: "+untilDateInput+")",
					error2 = "La fecha Hasta no debe superar la actual: "+stringDate;
				/*
				alert('intFromDate: '+intFromYear+"--- intUntilYear: "+intUntilYear+"--- year: "+year);
				alert('intFromDate: '+intFromMonth+"--- intUntilMonth: "+intUntilMonth+"--- month: "+month);
				alert('intFromDate: '+intFromDate+"--- intUntilDate: "+intUntilDate+"--- date: "+date);
				*/
				//alert('fromDate: '+fromDate+"--- untilDate: "+untilDate+"--- currentDate: "+intCurrentDate);
				if(untilDate > intCurrentDate ){
					displayDialog(error2,7000,'notice');
					return false;
				}else{
						//if( intFromDate < intUntilDate){
					if( fromDate <= untilDate ){
						//alert(intFromDate+"<"+intUntilDate);
						return true;
					}else{
						displayDialog(error1,7000,'notice');
						return false;
					};
				};
			};
		});
	});
});
</script>
          
{% endblock %}
