<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--For sharing in Facebook-->
    <!--
    <meta property="og:title" content="BICIO Tú bici, tu vicio" />
    <meta property="og:description" content="Bicio es un proyecto de seguridad vial enfocado a las Ciclovías que se encuentran en la Región Metropolitana de Santiago de Chile. Tiene como fuente información la red social Twitter."/>
    <meta property="og:image" content="/static/BICIO/img/logo_bicio.png" />
    -->
    <title>{% block title %} {% endblock %}</title>
    <!-- FAVICON -->
    <!--<link rel="icon" type="image/png" href="/static/BICIO/img/icon_bicio.png">-->
    <!--<link rel="shortcut icon" href="/static/BICIO/img/favicon.ico" type="image/x-icon">-->
    <link rel="icon" href="/static/BICIO/img/favicon.ico" type="image/x-icon">
    <!-- For old template-->
    <!-- CSS de Bootstrap -->
    <!--<link href="/static/BICIO/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/BICIO/css/base.css" rel="stylesheet" media="screen">

    <!-- Libreria css de animaciones-->
    <link rel="stylesheet" href="/static/BICIO/css/animate.css">
    <!-- For datepicker bootstrap-->
    <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
    <link href="/static/BICIO/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="/static/BICIO/css/bootstrap-datetimepicker.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="/static/BICIO/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/BICIO/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/BICIO/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--
    <link href="/static/BICIO/css/fontLora.css" rel="stylesheet" type="text/css">
    <link href="/static/BICIO/css/fontMontserrat.css" rel="stylesheet" type="text/css">
    -->
    <!--<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <!--
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->

    <!--jquery-toastmessage-plugin-->
    <link type="text/css" href="/static/BICIO/css/jquery.toastmessage-min.css" rel="stylesheet"/>
    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="/static/BICIO/css/grayscale.css" rel="stylesheet">

    {% block head %}
    {% endblock %}

    <!--GOOGLE MAPS-->
    <!--
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDQ5cLceNcS1s6v1589dFglFKNMl5sJq8o&sensor=TRUE">
    </script>
    -->
    <!--/GOOGLE MAPS-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--For API google Maps-->
    {% block scriptsTop%}
    {% endblock %}
</head>

<body {% block load %}{% endblock %} id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    {% block display%}
    {% endblock %}
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header"> 
                <a href="/">
                <!--<a id="color" class="glyphicon glyphicon-home" href="/">-->
                <!--<img width="30%" height="30%" src="/static/BICIO/img/icon_bicio.png">-->
                <img id="logoBicio" width="6%" height="6%" src="/static/BICIO/img/logo_bicio.png">
                </a>
                <button id="menu-responsive" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navi" class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                <!--MAIN Nav-->
                      <li> <a {% block active1 %}{% endblock %} id="blanco" href="/">Inicio</a> </li>
                      <li> <a {% block active2 %}{% endblock %} id="blanco" href="/GRAFICOS/disIncidentCSDateForm/?fromDate=Desde: &untilDate=Hasta: "> Incidentes más recurrentes</a> </li>
                      <li> <a {% block active3 %}{% endblock %} id="blanco" href="/GRAFICOS/approvalEventForm/?fromDate=fecha:&data1=1&data2=1&data3=1&notice=1"> Cicletada primer martes</a> </li>
                      <li> <a {% block active4 %}{% endblock %} id="blanco" href="/MAPAS/sevenDays"> 7 días</a> </li>
                      <li> <a {% block active5 %}{% endblock %} id="blanco" href="/GRAFICOS/disSafetyCicloviaDateForm/?fromDate=Desde: &untilDate=Hasta:"> Seguridad en las ciclovías</a> </li>
                      <li> <a {% block active6 %}{% endblock %} id="blanco" class="page-scroll" href="#help">Ayuda</a> </li>
                    {% block nav%}
                    {% endblock %}
                </ul>
                <br>
                <ol id="myBreadcrumb" class="breadcrumb">
                {% block breadcrumb %}

                {% endblock%}
                </ol>
            </div>
            <a href="http://www.usach.cl/">
            <!--<a id="color" class="glyphicon glyphicon-home" href="/">-->
            <!--<img width="30%" height="30%" src="/static/BICIO/img/icon_bicio.png">-->
            <img id="logoUsach" align="right" width="3.9%" height="3.9%" src="/static/BICIO/img/logousach.png">
            </a>
        </div>
        <!-- /.container -->
    </nav>

        <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div id="block">
                <div id="color" class="container">
                    <div {%block upMap %}{% endblock %} class="row">
                        <div class="col-md-8 col-md-offset-2">
                            
                            <h1 id="color" class="brand-heading">{% block brand-heading %}{% endblock %}</h1>
                            <h4 id="color" class="intro-text">{% block intro-text %} {% endblock %}</h4>
                            
                                <!--Seccion display-->
                                <div id="canvas-left">
                                    <center>
                                    {% block content %}
                                        {% block menu%}
                                        {% endblock %}

                                        {% block datepicker %}
                                        {% endblock %}

                                        {% block fecha %}
                                        {% endblock %}

                                        {% block graphics %}
                                        {% endblock %}

                                        {% block ciclovias %}
                                        {% endblock %}
                                    {% endblock %}
                                    </center>
                                </div>

                        </div>
                    </div>
                                    <!--/Seccion display-->
                    <div id="canvas-right">
                        {% block menuR %}
                        {% endblock %}
                    </div>
                    {% block map %}
                    {% endblock %}
                    <center>
                    {% block carrusell%}
                    {% endblock %}
                    </center>
                </div>

            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="help" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% block help %}
                {% endblock %}
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!--<div id="map"></div>-->
    <br><br><br><br><br><br>
   <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; BICIO 2014 - Universidad de Santiago de Chile- Taller Base de Datos</p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="/static/BICIO/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/BICIO/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/BICIO/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <script src="/static/BICIO/js/bootstrap.js" type="text/javascript"></script> 
    <!-- Custom Theme JavaScript -->
    <script src="/static/BICIO/js/grayscale.js"></script>
     <!--Old Jquery before template-->
    <script src="/static/BICIO/js/jquery-1.11.1.min.js"></script>
    <!-- Scripts for generate graphics-->
    <script src="/static/BICIO/js/Chart.js"></script>
    <!--Date picker boootstrap-->
    <!--
    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    -->
    <script type="text/javascript"
     src="/static/BICIO/js/jquery.min.js">
    </script>  
    <script type="text/javascript"
     src="/static/BICIO/js/bootstrap.min.2.2.2.js">
    </script>
    <!--
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    -->
    <script type="text/javascript"
     src="/static/BICIO/js/bootstrap-datetimepicker.min.js">
    </script>
    <!--jquery-toastmessage-plugin-->
    <script type="text/javascript" src="/static/BICIO/js/jquery.toastmessage-min.js"></script>


    <script type="text/javascript">
        function sum(myArray,size){
            var sum = 0;

            for(var i = 0; i < size;i++){
                sum = sum + myArray[i];
            };
            return sum;
        };

        function clearDiv(myDiv){
            $(myDiv).empty();
        };
        function displayCallDialog(text,stayTime,type,callDialog){
            clearDiv(".toast-container")
            var myToast = $().toastmessage('showToast', {
                text     : text,
                stayTime : stayTime,
                position : 'middle-center',
                type     : type,
                closeText: '',
                close: callDialog
            });
        };
        function displayDialog(text,stayTime,type){
            clearDiv(".toast-container")
            var myToast = $().toastmessage('showToast', {
                text     : text,
                stayTime : stayTime,
                position : 'middle-center',
                type     : type,
                closeText: '',
                close: clearDiv(".toast-container")
            });
        };

    </script>
        <!-- if disable web service display alert -->
    <script type="text/javascript">
    function enableWS(){
        var alertError = '<div id="dialog"> <h4>Servicio web no disponible:</h4>La información mostrada en estos momentos es solo de EJEMPLO. En la brevedad restableceremos la conexión con el servicio web <br> El equipo Bicio </div>';
        if({{enableWS}} == 0){
            displayDialog(alertError, 15000, 'error');
        };
    };
    </script>
    {% block scripts %}
    
    
    {% endblock %}

</body>
</html>
