{%extends "BICIO/base.html"%}



{% block ciclovia%}

{% endblock %}

{% block map %}
<div id="map_canvas" style="width:93%; height:70%"></div>
<div id="legend-map">
  <span id="car" style="background-color: transparent"><img src="/static/BICIO/img/maps/icon-car.png" > Automovilísticos: </span>
  <br>
  <span id="delictual" style="background-color: transparent"><img src="/static/BICIO/img/maps/icon-delictual.png" > Delictual: </span>
  <br>
  <span id="total" style="background-color: transparent">Total Tweets Analizados: </span>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"> enableWS()</script>
    <script type="text/javascript"
       src="http://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    
    <script type="text/javascript">
      function displayMarkers(map,canvasDisplay,icon,listGeoInput,nDataTweet){
        var infowindow = new google.maps.InfoWindow({
            content: ''
        });
        //parse the list of tweets
        var listGeo = listGeoInput.replace(/&quot;/g,"\""),
        listGeo = listGeo.replace(/@/g,"&#64;"),
        listGeo = listGeo.replace(/""/g,"\""),
        listGeo = listGeo.replace(/\\/g,""),
        listGeo = listGeo.replace(/&amp;/g,"&"),
        listGeo = listGeo.replace(/&lt;/g,"<"),
        listGeo = listGeo.replace(/&gt;/g,">"),
        listGeo = listGeo.replace(/&apos;/g,"'"),
        listGeo = listGeo.replace(/#64;/g,"@"),
        listGeo = listGeo.replace(/&aquot;bicio/g,"&bicio");
        //alert(listGeo);
        //listGeo = listGeo.replace(/[/g,"");
        //listGeo = listGeo.replace(/]/g,"");
        //var tweets = jQuery.parseJSON(listGeo);
        var tweets = listGeo.split("&bicio"),
            total = 0;

        //alert(tweets[0]+"__"+tweets[1]+"__"+tweets[2]+"__"+tweets[3]);
        //alert(tweets.length);

        for (var i = 0, j = tweets.length; i < j; i = i+nDataTweet) {
            //myMarker.position.lat = tweets[i];
            //myMarker.position.lng = tweets[i+1];
            //myMarker.tweetContent = tweets[i+2];
            //myMarker.score = tweets[i+3];

            var contenido = tweets[i+2];
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(tweets[i], tweets[i+1]),
                map: map,
                animation: google.maps.Animation.BOUNCE,
                icon: icon
            });
            (function(marker, contenido){                      
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent(contenido);
                    infowindow.open(map, marker);
                });
            })(marker,contenido);
            total++;
            //alert(tweets[i]+"__"+tweets[i+1]+"__"+tweets[i+2]+"__"+tweets[i+3]+"__"+total);
        };
        return total;
      };

      function initialize() {
        var santiago = new google.maps.LatLng(-33.45436,-70.67276);
        var optionsMap = {
          center: santiago,
          zoom: 13,
          minZoom: 11,
          mapTypeId: google.maps.MapTypeId.SATELLITE
          //mapTypeId: google.maps.MapTypeId.ROADMAP
          //mapTypeId: google.maps.MapTypeId.HYBRID
        };

        var canvasDisplay = 'map_canvas',
        div = document.getElementById(canvasDisplay),
        map = new google.maps.Map(div, optionsMap);

        //chargue KML of the ciclovias on the map
        //var ctaLayer = new google.maps.KmlLayer('https://mapsengine.google.com/map/kml?mid=zvBMMeqnQFNI.k_3VZmLi0Ab0&lid=zvBMMeqnQFNI.kYm4_4QBWl2Y');
        //var ctaLayer = new google.maps.KmlLayer('/static/BICIO/dataCiclovias/bicio_2013_2014.kml');
        var ctaLayer = new google.maps.KmlLayer('http://bicio.ngrok.com/static/BICIO/dataCiclovias/bicio_2013_2014.kml');
        ctaLayer.setMap(map);
        //Infowindow of the display Map

        var infowindow = new google.maps.InfoWindow({
          content: '{% block infoMap %}{% endblock %}',
          position: santiago
        });
        infowindow.open(map);

        //icons for type of incident
        var icon_1 = "{% block icon_1 %}{% endblock %}";
        var icon_2 = "{% block icon_2 %}{% endblock %}";
        var nDataTweet = {% block nDataTweet %}{% endblock %};
        
        //list of tweets
        var listGeo1 = function(){/*
          {{listGeo1}}
        */}.toString().slice(14,-3),
            listGeo2 = function(){/*
          {{listGeo2}}
        */}.toString().slice(14,-3);
        //alert(listGeo1+"\n"+listGeo2);
        //call the function for display markers with the list of tweets
        var numCar = displayMarkers(map,canvasDisplay,icon_1,listGeo1,nDataTweet),
            numDel = displayMarkers(map,canvasDisplay,icon_2,listGeo2,nDataTweet),
            totalTweets = numCar + numDel,
            porcentCar = (numCar/totalTweets)*100,
            porcentDel = (numDel/totalTweets)*100;
        
        if(totalTweets == 0){
          porcentCar = 0;
          porcentDel = 0;
        };

        $("#car").append(porcentCar.toPrecision(4)+'% = '+numCar);
        $("#delictual").append(porcentDel.toPrecision(4)+'% = '+numDel);
        $("#total").append(totalTweets);

        /*
        var myString = "07.07070&bicioasd2&bicioasd3&bicioasd4",
            myString =  myString.split('&bicio');
        for (var i=0;i<myString.length;i++){
        alert(myString[i]);  
        };
        */
      };
    </script>
{% endblock %}