{%extends "BICIO/base.html"%}

{% block title %}
    BICIO 
{% endblock %}

<!--En la página principal no hay elemento seleccionado-->
{% block head %}
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block carrusell%} 
    <!--####################################<Carrusel>##################################-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <a href="#descargas"><img id="myBorder" src="/static/BICIO/img/carrusell/BICIO.png" alt="Proyecto Bicio"></a>
          
          <div class="container">
            <div class="carousel-caption">
            <!--
              <div style="background-color: rgba(0, 0, 0, 0.4); border-radius:30px;">
                <span id="color">
                <img src="/static/BICIO/android/android.png" width="7%" height="7%" alt="android"> 
                <p>Ir a Descargas</p>
                </span>
              </div>
            -->
            </div>
          </div>
        </div>

        <div class="item">
          <a href="/GRAFICOS/approvalEventForm/?fromDate=fecha:&data1=1&data2=1&data3=1"><img id="myBorder" src="/static/BICIO/img/carrusell/cicletadaPrimerMartes.jpg" alt="Cicletada"></a>
        </div>
        
        <div class="item">
          <a href="/GRAFICOS/disSafetyCicloviaDateForm/?fromDate=Desde: &untilDate=Hasta:"><img id="myBorder" src="/static/BICIO/img/carrusell/seguridadCiclovias.jpg" alt="Seguridad ciclovías"></a>
        </div>

        <div class="item">
          <a href="/GRAFICOS/disIncidentCSDateForm/?fromDate=Desde: &untilDate=Hasta: "><img id="myBorder" src="/static/BICIO/img/carrusell/incidentesCiclovias.jpg" alt="Incidentes ciclovías"></a>
        </div>

        <div class="item">
          <a href="#descargas">
          <img src="/static/BICIO/android/movil_bicio.png"  width="21%" height="21%" alt="descargas"> 
          </a>

          <div class="container">
            <div class="carousel-caption">
              <div style="background-color: rgba(0, 0, 0, 0.4); border-radius:30px;">
                <span> 
                  <h3 id="blanco">Descarga BICIO para android</h3>
                </span>
              </div>
            </div>
          </div>          
        </div>

      </div>


      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--####################################</Carrusel>##################################-->
{% endblock %}

{% block intro-text %} 

{% endblock %}

{% block graphic %}

{% endblock %}

{% block breadcrumb %}
  <li class="active"><a href="#">Principal</a></li>
{% endblock %}

{%block content%}
  {% block menu%}
  {% endblock %}
{% endblock %}

{% block help %}

<h2>Menú</h2>
<!--Links de las secciones del menu de ayuda-->
<a href="#about">
	<span class="glyphicon glyphicon-map-marker">Sobre el proyecto BICIO</span>
</a>
<br>
<a href="#nosotros">
	<span class="glyphicon glyphicon-map-marker">Nosotros</span>
</a>
<br>
<a href="#descargas">
  <span class="glyphicon glyphicon-map-marker">Descargas</span>
</a>

<div id="about"></div><br><br><br><br><br><br>
<h2 >Sobre el proyecto BICIO </h2>
<p>Bicio es un proyecto de seguridad vial enfocado a las Ciclovías que se encuentran en la Región Metropolitana de Santiago de Chile. Tiene como fuente información la red social Twitter.</p>	
<div id="nosotros"></div><br><br><br><br><br><br>
<h2 >Nosotros</h2>
<p>Somos estudiantes de Ingeniería en Informática de la Universidad de Santiago de Chile, nuestro equipo de desarrolladores PRICC en el orden del acrónimo son:</p>
<div>
<p>Pablo Zurita : QA y Gestión de proyecto</p>
<p>Rodrigo Rivas : Procesamiento de datos (Java, Weka)</p>
<p>Israel Martínez : Tecnologías web (HTML5,Django)</p>
<p>Camilo Torres : Base de datos (MongoDB, Lucene)</p>
<p>Carlos Cáceres : Aplicaciones móviles (Android)</p>
<div>


<div id="descargas"></div></div><br><br><br><br><br><br>
  <h2>Descargas y documentación </h2>
<div>
  <a href="/static/BICIO/android/BICIO.apk">
  <span>
    <button style="max-width=20px !important;max-height=30px !important;" type="button" class="btn btn-default">
    <span id="color" class="glyphicon glyphicon-download">
    </span>
      BICIO para android 4.0.4
    </button>
    </a>
      <img src="/static/BICIO/android/android.png" width="6%" height="6%" alt="android">
  </span>
  <br><br>
  <span>
    <a href="https://drive.google.com/#folders/0BwOOnXTFQSkIbmRMZmRUaXNlWE0">
    <button type="button" class="btn btn-default">
    <span id="color" class="glyphicon glyphicon-download">
    </span>
      Documentación BICIO
    </button>
    </a>
    <img src="/static/BICIO/img/drive.png" width="4%" height="%" alt="drive">  
  </span>
</div>



{% endblock %}

{% block scripts %} 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}