{%extends "BICIO/baseDisplayHeatMap.html"%}

{% block title %} BICIO {% endblock %}

{% block active4 %}id="active"{% endblock %}

{% block breadcrumb%}
  <li><a href="/">Principal</a></li>
  <li class="active"><a href="#">Mapa de calor 7 días</a></li>
{% endblock %}

{% block intro-text %} 
  Mapa de calor 7 días
{% endblock %}

{% block load %}onload="initialize()"{% endblock%}

{% block menu %}
<div style="margin-top:-38%;">
  <a href="/MAPAS/sevenDays/">
    <span id="color" class=" glyphicon glyphicon-hand-right">
    <button type="button" class="btn btn-default">Distribución Incidentes 7 días
    </button>
    </span> 
  </a>
  <a href="/MAPAS/sevenDaysHeatMap/">
    <span id="color" class=" glyphicon glyphicon-hand-right">
    <button id="active" type="button" class="btn btn-default">Mapa de calor 7 días
    </button>
    </span> 
  </a>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}

{% block icon_1 %}/static/BICIO/img/maps/seguro.png{% endblock %}
{% block icon_2 %}/static/BICIO/img/maps/inseguro.png{% endblock %}

{% block infoMap %}<h4>Sobre el mapa</h4> En este mapa es posible ver la distribución y concentración de tweets referidos a la seguridad e inseguridad en las ciclovías mediante el uso de un mapa de calor sobre la seguridad e inseguridad durante los últimos 7 días, donde los tonos en verde seguridad, tonos en azul inseguridad.{% endblock %}