{%extends "BICIO/baseDisplayMap.html"%}

{% block title %} BICIO {% endblock %}

{% block active4 %}id="active"{% endblock %}

{% block breadcrumb%}
  <li><a href="/">Principal</a></li>
  <li class="active"><a href="#">Distribución de incidentes 7 días</a></li>
{% endblock %}

{% block load %}onload="initialize()"{% endblock%}

{% block menu %}
<a href="/MAPAS/sevenDays/?fromDate={{fromDate}}&untilDate={{untilDate}}">
  <span id="color" class=" glyphicon glyphicon-hand-right">
  <button id="active" type="button" class="btn btn-default">Distribución Incidentes 7 días
  </button>
  </span> 
</a>
<a href="/MAPAS/sevenDaysHeatMap/?fromDate={{fromDate}}&untilDate={{untilDate}}">
  <span id="color" class=" glyphicon glyphicon-hand-right">
  <button type="button" class="btn btn-default">Mapa de calor 7 días
  </button>
  </span> 
</a>
<br><br><br><br>
{% endblock %}

{% block icon_1 %}/static/BICIO/img/maps/icon-car.png{% endblock %}
{% block icon_2 %}/static/BICIO/img/maps/icon-delictual.png{% endblock %}

{% block title1 %}Incidente Automovilístico{% endblock %}
{% block title2 %}Incidente Delictual{% endblock %}

{% block nDataTweet %}4{% endblock %}
{% block upMap %}id="upMap"{% endblock %}

{% block infoMap %}<h4>Sobre el mapa</h4>Este mapa muestra la distribución de los tipos de incidentes más frecuentes en las ciclovías más transitadas en el intervalo de fechas seleccionado. En el mapa es posible hacer click izquierdo sobre la ciclovía para ver qué ciclovía es, también es posible hacer click sobre los símbolos que representan accidentes autimovilísticos y delictuales, donde se podrá leer el tweet asociado al incidente{% endblock %}

{% block menuR %}

{% endblock %}

{% block help %}
{% endblock %}

