{%extends "BICIO/baseOneDateForm.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 

{% endblock %}

{% block intro-text %} 
    Seleccione mes y año para la consulta.
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li id="active"><a href="#">Fechas</a></li>
{% endblock %}

{% block active3 %}
id="active"
{% endblock %}

{% block destiny %}"/GRAFICOS/approvalEvent"{% endblock %}

{% block input %}
	<input type="hidden" name="data1" value={{data1}} readonly>
	<input type="hidden" name="data2" value={{data2}} readonly>
	<input type="hidden" name="data3" value={{data3}} readonly>
	<input type="hidden" name="notice" value={{notice}} readonly>
{% endblock %}
{% block button %}
<input id="Continuar" id="color" type="submit" value="Continuar">
{% endblock %}

{% block help %}
<h2 id="about">Seleccione la fecha para consultar </h2>
{% endblock %}