{%extends "BICIO/baseOneDateForm.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li><a href="/GRAFICOS/approvalEventForm/?fromDate={{fromDate}}&data1={{data1}}&data2={{data2}}&data3={{data3}}&notice=0">Fechas</a></li>
  <li><a href="#">Aprobación Cicletada</a></li>
{% endblock %}

{% block active3 %}
id="active"
{% endblock %}

{% block menu%}
    
{% endblock %}

{% block destiny %}{% endblock %}

{% block input%}
  <a href="/GRAFICOS/approvalEventForm/?fromDate=2014-12&data1={{data1}}&data2={{data2}}&data3={{data3}}&notice=0">
    <span  class="glyphicon glyphicon-wrench">
    Cambiar fecha
    </span> 
  </a>
  <span style="background-color:rgba(1, 154, 44, 1);border-radius:10px;">
    <input id="positiveData" type="checkbox" name="data1" value="1">
    Positivo
  </span>
  <span style="background-color:rgba(255, 0, 0, 1);border-radius:10px;">
    <input id="negativeData" type="checkbox" name="data2" value="1">
    Negativo
  </span>
  <span style="background-color:rgba(253, 198, 12, 1);border-radius:10px;">
    <input id="neutralData" type="checkbox" name="data3" value="1">
    Neutro
  </span>
  <input type="hidden" name="notice" value="0" readonly>
  <label> Seleccione datos a graficar </label>
{% endblock %}

{% block button %}
  <!--<input id="plot" style="vertical-align:right;" type="submit" value="Continuar">-->
  <input id="consultar" type="button" value="Consultar"></input>
{% endblock %}

{% block graphics %}
<!--For display Graphic-->
  <div id="canvas-holder">
    <label style="vertical-align:left;float: left;">Número Tweets</label>
    <canvas id="chart-area" width="800" height="300"/>
    <canvas id="chart-legend" width="300" height="100"/>
  </div>
  <label>Dias del mes</label>

  <div id="legend">
    <div id="aux">default</div>
    <div id="positive">Positivos: </div>
    <div id="negative">Negativos: </div>
    <div id="neutral">Neutros: </div>
    <div id="total">Total Tweets Analizados: </div>
  </div>

{% endblock %}


{% block help %}

<h2 id="about">Aprobación cicletada primer martes </h2>
<p>El gráfico muestra la distribución de los tweets que hablan hacerca de la aprobación y desaprobación de la cicletada del primer martes del mes seleccionado, por cada día del mes.</p>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
  jQuery(document).ready(function($){
    plot();
    $(document).on('click','#consultar',function(){
      plot();
    });
  });
</script>
<script type="text/javascript">
  function plot(){
    
    var size = {{arrayData1}}.length,
        positive = {{arrayData1}},
        negative = {{arrayData2}},
        neutral = {{arrayData3}},
        numPositive = sum(positive,size),
        numNegative = sum(negative,size),
        numNeutral = sum(neutral,size),
        totalTweets = numPositive+numNegative+numNeutral,
        porcentPositive = (numPositive/totalTweets)*100,
        porcentNegative = (numNegative/totalTweets)*100,
        porcentNeutral = (numNeutral/totalTweets)*100;
        if(totalTweets==0){
          porcentPositive = 0;
          porcentNegative = 0;
          porcentNeutral = 0;
        };
        //alert(positive.length+"-"+negative.length+"-"+neutral.length);
    var data1 = 0,//'{{data1}}',
        data2 = 0,//'{{data2}}',
        data3 = 0,//'{{data3}}';
        enableNotice = {{notice}};
        /*
        if(data1 == 'None'){
          data1 = '0';
        };
        if(data2 == 'None'){
          data2 = '0';
        };
        if(data3 == 'None'){
          data3 = '0';
        };
        */  
        if($("#positiveData").attr('checked')) {  
          data1 = 1;
          enableNotice = 0; 
        }else{  
          data1 = 0; 
        };
        if($("#negativeData").attr('checked')) {  
          data2 = 1;
          enableNotice = 0;  
        }else{  
          data2 = 0;  
        };
        if($("#neutralData").attr('checked')) {  
          data3 = 1;
          enableNotice = 0;  
        }else{  
          data3 = 0;  
        };
    //var activeData = [parseInt(data1),parseInt(data2),parseInt(data3)],
    var activeData = [data1,data2,data3],
        aux = [],
        datasets = [
            {
                label: "Aprobación cicletada primer martes",
                fillColor: "rgba(1, 154, 44, 0.2)",
                strokeColor: "rgba(1, 154, 44, 1)",
                pointColor: "rgba(1, 154, 44, 1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(1, 154, 44, 1)",
                lineColor:"rgba(1, 154, 44, 1)",
                data: positive
            },
            {
                label: "Desaprobación cicletada primer martes",
                fillColor: "rgba(255, 0, 0, 0.2)",
                strokeColor: "rgba(255, 0, 0, 1)",
                pointColor: "rgba(255, 0, 0, 1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(255, 0, 0, 1)",
                lineColor: "rgba(255, 0, 0, 1)",
                data: negative
            },
            {
                label: "Tweets Neutros",
                fillColor: "rgba(253, 198, 12, 0.2)",
                strokeColor: "rgba(253, 198, 12, 1)",
                pointColor: "rgba(253, 198, 12, 1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(253, 198, 12, 1)",
                lineColor: "rgba(253, 198, 12, 1)",
                data: neutral
            }
        ];
        //alert('data1 = '+data1+'-'+'data2 ='+data2+'-'+'data3 = '+data3 );
    if(sum(activeData,3) == 0){
      activeData[0] = 1;
      activeData[1] = 1;
      activeData[2] = 1;
    };
    if(sum(positive,size) == 0 && sum(negative,size) == 0 && sum(neutral,size) == 0 ){
      displayDialog('No hay datos en el mes seleccionado, intente con otra fecha',7000,'notice');
    };
    for(i = 0; i < datasets.length; i++){
      if(activeData[i] == 1){
        aux.push(datasets[i]);
      };
    };
    datasets =  aux;
    //var size = 30;
    arrayLabels = [];
    for(i = 1; i <= size; i++){
      arrayLabels.push(i);
    };

    var data = {
        labels: arrayLabels,
        datasets: datasets
    };

    var datasets = [
      {
        label: "Aprobación cicletada primer martes",
        lineColor:"rgba(1, 154, 44, 1)"
      },
      {
        label: "Desaprobación cicletada primer martes",
        lineColor: "rgba(255, 0, 0, 1)"
      },
      {
        label: "Tweets neutrales",
        lineColor: "rgba(253, 198, 12, 1)"
      }
    ];

    var options = {
      //String - Colour of the grid lines
      scaleGridLineColor : "rgba(0,0,0,.5)",
      responsive: true,
      animationSteps: 30,
          //String - A legend template
      legendTemplate :  '<ul class="linechart-legend"><li><span style=\"background-color:rgba(1, 154, 44, 1)\"></span>Aprobación cicletada primer martes</li><li><span style=\"background-color:rgba(255, 0, 0, 1)\"></span>Desaprobación cicletada primer martes</li></ul><li><span style=\"background-color:rgba(253, 198, 12, 1)\"></span>Tweets neutrales</li></ul>'
    };

    //window.onload = function(){
    //######################### Draw Line Chart #################################
    clearDiv('#chart-area');
    var ctx = document.getElementById("chart-area").getContext("2d");
    window.myLineChart = new Chart(ctx).Line(data,options);
    myLineChart.update();
    //var legend = myLineChart.generateLegend();
    //$('#chart-legend').append(legend);

    clearDiv('#positive');
    clearDiv('#negative');
    clearDiv('#neutral');
    clearDiv('#total');
    
    $("#positive").append('Positivos: '+porcentPositive.toPrecision(4)+'% = '+numPositive);
    $("#negative").append('Negativos: '+porcentNegative.toPrecision(4)+'% = '+numNegative);
    $("#neutral").append('Neutros: '+porcentNeutral.toPrecision(4)+'% = '+numNeutral);
    $("#total").append('Total Tweets Analizados: '+totalTweets);
    //####################### END Draw Line Chart ###############################
    //};

    var message = 'El gráfico que se desplegará a continuación, hace referencia al grado de aceptación de la cicletada del primer Martes de cada mes, organizada por  el Movimiento Furiosos Ciclistas con el propósito de promover la seguridad vial, impulsar la bicicleta como medio de transporte y manifestar su descontento en relación a los temas mencionados. El grado de aceptación se mide en tres niveles; seguro, neutro e inseguro.';
    if(enableNotice == 1){
      displayCallDialog(message,560000,'notice',enableWS);
    };
  };
</script>
{% endblock %}