#active{
	color: #fdc60c;
}
#blanco{
	color: white;
}
#sub-block{
	margin-bottom: -30%;
}
/* Backcground color for divs blocks*/
#block{

    /*Grey ligth*/
    /*
    background-color: rgba(46, 53, 44, 0.3);
    background: rgba(46, 53, 44, 0.3);
    color: rgba(46, 53, 44, 0.3);
    */
    /*White light*/
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
	
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
/*Modificando clase*/
.breadcrumb
{
	text-align: left !important;
	/*margin-top: 8%;*/
	/*position: fixed !important;*/
	background-color: transparent !important;
	/*color: rgba(255, 255, 255, 0.5) !important;*/
	/*background-color: rgba(245, 245, 245, 0.4);*/
}
#myBreadcrumb{
	font-size: 8pt;
	font-style: oblique;
	font-family: italic;
}

#border{
	border-radius: 30px;
}
#canvas-right{
	position: right;
}
#myCarousel{
	/*margin-right: -10%;*/
}
#myBorder{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.carousel-caption{
	background-color: transparent !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#ciclovias{
	color: black;
}
#color{
	color: black;
}
.col-md-2{
	background-color: white;
	padding-right: 0px;  
}

.col-md-10{
	padding-right: 5%;
	padding-left: 5%;
	height: 100%;
}

#dialog{
	font-size: 12pt !important;
}
i{
	color: black;
}

#link{
	color: #0000FF;
}
#logoBicio{
	position: fixed;
	vertical-align: left;
	margin-left: -7%;
}
#logoUsach{
	position: absolute;
	vertical-align: right;
	margin-right: -20%;
	/*margin-top: -2%;*/
}
#map_canvas{
	height: 100%;
	
	margin-left: -8%;
	margin-top: -2.5%;
	position: absolute;
	/*z-index:100 !important;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#legend-map{
	/*float: right;*/
	margin-right: -70%;
	margin-top: 23%;
	position: absolute;
	/*visibility: visible;*/
	background-color: rgba(69,97,157,1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 150 !important;
	text-align: left;
	border-color: black;
}
#content{
	/*position: relative !important;	*/
	/*margin-top: -20%;*/
}
#upMap{
	margin-top: -20% !important;
}

#menu{
	color: black;
}

#menu-responsive{
	margin-right: 10%;
}
#nav{

}
.navbar{
	background-size: 2%
}
#negro{
	color: black;
}

#canvas-holder{
	float: left;
}
#legend{
	float: center;
}

#total{
	background-color: rgba(46, 53, 44, 0.7);
	color: white;
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#car{
	background-color: #ea5e45;
	color: white;
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#car1{
	color:#ea5e45;
}
#car2{
	color:#f58263;
}
#delictual{
	background-color:#ffc150;
	color: white;
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#delictual1{
	color:#ffc150;
}
#delictual2{
	color:#ffd872;
}
#safe{
	background-color:#0acaf1;
	color: black;
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#seguro1{
	color:#0acaf1;
}
#seguro2{
	color:#04e5f9;
}
#unsafe{
	background-color:#b71beb;
	color: black;
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#inseguro1{
	color:#b71beb;
}
#inseguro2{
	color:#d126f1;
}
#aux{
	background-color: transparent;
	color: transparent;
}
#positive{
	background-color: rgba(1, 154, 44, 1);
	color: white;
	max-width: 30%;
	max-height: 10%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#negative{
	background-color: rgba(255, 0, 0, 1);
	color: white;
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;	
}

#neutral{
	background-color: rgba(253, 198, 12, 1);
	color: rgba(46, 53, 44, 0.9);
	max-width: 30%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

/* FOR LEGEND*/
.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 8px;
  top: 0;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}