{%extends "BICIO/base.html"%}

{% block title %} Ejemplo Display Maps {% endblock %}

{% block nav%}

{% endblock%}

{% block breadcrumb%}
  
{% endblock %}

{% block barralateral%}
 
{% endblock %}

{%block map%}

<h1 id="color"> Ejemplo: Display Maps</h1>
<div id="map_canvas" style="width:50%; height:50%"></div>

{% endblock %}

{% block ciclovias %}

<!--Select Ciclovia-->
<!--Select Ciclovia-->
<form method="GET" action="/GRAFICOS/disFreqIncidentCiclovia/" class="bs-docs-example">
  <input data-format="yyyy-MM-DD" type="text" name="fromDate" value={{fromDate}} readonly>
  <input data-format="yyyy-MM-DD" type="text" name="untilDate" value={{untilDate}} readonly>
  <a href="/GRAFICOS/disIncidentCSDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}&ciclovia={{ciclovia}}">
      <span  class="glyphicon glyphicon-wrench">
      Cambiar fechas
      </span> 
  </a>
  <br>
  <select id="ciclovias" name="ciclovia" value={{ciclovia}} readonly>
    <option id="color">lyon</option>
    <option id="color">isabel la catolica</option>
    <option id="color">pocuro</option>
    <option id="color">parque bustamante</option>
    <option id="color">rosas</option>
    <option id="color">pajaritos</option>
    <option id="color">alameda</option>
    <!---<option id="color">Blanco Encalada</option>-->
    <!--<option id="color">Matta</option>-->
    <!--<option id="color">Grecia</option>-->
    <!--<option id="color">República</option>-->
    <!--<option id="color">Duble Almeyda</option>-->
  </select>
  <input id="color" type="submit" value="Buscar">
</form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript"
       src="http://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-33.45436,-70.67276),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>
{% endblock %}