{%extends "BICIO/base_display.html"%}

{% block title %} BICIO {% endblock %}
{% block brand-heading%}{% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">             
   </button>
    <li> <a id="blanco" class="page-scroll" href="#page-top"> Top page </a> </li>
    <li> <a id="blanco" class="page-scroll" href=""> Mapa</a> </li>
    <li> <a id="blanco" class="page-scroll" href=""> Gráficos</a> </li>
    <li id="active"> <a id="blanco" class="page-scroll" href= "/ejemplo/llamadaEjemplo_1"> Ejemplo1</a> </li>
    <!-- Por defecto para navegación con scroll ayuda, preguntas frecuentes, sobre nosotros, etc-->
    <li> <a id="blanco" class="page-scroll" href="#help">Ayuda</a> </li>
    <li> <a id="blanco" class="page-scroll" href="#contact">Contact</a> </li>

{% endblock%}

{% block barralateral%}
   <li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
{% endblock %}

{%block content%}

<h1> EJEMPLO APP</h1>

<h4>XML consumido con SUDS</h4>
<h5>fromDate {{fromDate}}</h5>
<h5>untilDate {{untilDate}}</h5>
<h5>{{msj1}}</h5>
<h5>{{msj2}}</h5>
<h3 id="tiempo"></h3>

<p id="someElement"></p>
<p id="anotherElement"></p>
<!--Select Ciclovia-->
<form id="black" class="bs-docs-example">
  <select id="ciclovias" name="ciclovias">
        <option id="color">Lyon</option>
        <option id="color">Isabel La Católica</option>
        <option id="color">Pocuro</option>
        <option id="color">Parque Bustamante</option>
        <option id="color">Rosas</option>
        <option id="color">Pajaritos</option>
        <option id="color">Alameda</option>
        <!---<option id="color">Blanco Encalada</option>-->
        <!--<option id="color">Matta</option>-->
        <!--<option id="color">Grecia</option>-->
        <!--<option id="color">República</option>-->
        <!--<option id="color">Duble Almeyda</option>-->
  </select>
</form>

<!--Select Ciclovia-->
<form method="GET" action="/ejemplo/llamadaEjemplos" class="bs-docs-example">
  <select id="id" name="id" value="" readonly>
    <option>5422e27ee4b0660519a1769b</option>
    <option>5422e2f8e4b0660519a176db</option>
  <input type="submit" value="Consultar por Id">
</form>
<!--For display Graphic-->
<div id="canvas-holder">
	<canvas id="chart-area" width="300" height="300"/>
</div>

<h3>
    <ul class="list-inline banner-social-buttons">
        <li>
            <a href="/ejemplo/llamadaEjemplos" class="btn btn-default btn-lg"><span class="network-name">Llamada ejemplo 2</span></a>
        </li>
    </ul>
</h3>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	jQuery(document).ready(function($){

		var myString_XML = function(){/*
		    {{msje2}}
		*/}.toString().slice(14,-3);

		myString_XML = myString_XML.replace(/&quot;/g,"\"");
		myString_XML = myString_XML.replace(/&lt;/g,"<");
		myString_XML = myString_XML.replace(/&gt;/g,">");
		//myString_XML = myString_XML.replace(/"\n"/g,"");

		var n = myString_XML.length,
		etiqueta = 0,
		n_etiq = 0;
		ignore = 1,
		level = 0,
		xml_string = "";
		//alert(myString_XML);
		
		for(var i=0;i<n;i++){
			//Para borrar cabecera con encoding
			if(ignore == 1){
				if(myString_XML.charAt(i) == ">"){
					ignore = 0;
				};
			}else{
				//Guarda el simbolo de inicio de etiqueta
				if(myString_XML.charAt(i) == "<"){
					etiqueta = 1;
					xml_string = xml_string + myString_XML.charAt(i);
					i++;
				};
				//Guarda el simbolo fin etiqueta
				if(myString_XML.charAt(i) == ">"){
					etiqueta = 0;
					n_etiq++;
					//Etiquetas que se deben borrar todos lo espacios
					if(n_etiq == 1){
						xml_string = xml_string + myString_XML.charAt(i);
						i = i + 2;	
					}else{
						xml_string = xml_string + myString_XML.charAt(i);
						i++;
					};
				};
				//Guarda todo lo que esté en la etiqueta
				if(etiqueta == 1){
					xml_string = xml_string + myString_XML.charAt(i);
				};
				// Entre etiquetas hay que sacar los saltos de linea 
				if(etiqueta == 0 && myString_XML.charAt(i) != "  "){
					xml_string = xml_string + myString_XML.charAt(i);
				};
			};	
		};
		//alert(xml_string);
		var xmlDoc = $.parseXML( xml_string ),
		$xml = $( xmlDoc ),
		$location = $xml.find( "Location" ),
		$temperature = $xml.find( "Temperature" );
		// Append "RSS Title" to #someElement
		$( "#someElement" ).append( $location.text() );
		// Append "XML Title" to #anotherElement
		$( "#anotherElement" ).append( $temperature.text() );
		var car = parseInt(" 150 "),
		delictual = parseInt("  100"),
		safe = parseInt(" 100"),
		unsafe = parseInt( " 150" );
		//Selección de Ciclovia
		$("#ciclovias").change(function(){
			var ciclovia = $(this).val();//se obtiene el valor seleccionado
		});

		//For display graphic
		//rojo "#ea5e45" -- "#f58263" -- car
		//naranjo "#ffc150" -- "#ffd872" -- Incidentes delictuales
		//celeste "#0acaf1" -- "#04e5f9" -- Seguro
		//morado "#b71beb" -- "#d126f1" -- Inseguro
	var pieData = [
		{
			value: car,
			color: "#ea5e45",
			highlight: "#f58263",
			label: "Incidentes automovilísticos"
		},
		{
			value: delictual,
			color: "#ffc150",
			highlight: "#ffd872",
			label: "Incidentes delictuales"
		},
		{
			value: safe,
			color: "#0acaf1",
			highlight: "#04e5f9",
			label: "Seguro"
		},
		{
			value: unsafe,
			color: "#b71beb",
			highlight: "#d126f1",
			label: "Inseguro"
		}
		];

		window.onload = function(){
			var ctx = document.getElementById("chart-area").getContext("2d");
			window.myPie = new Chart(ctx).Pie(pieData);
		};
	});
</script>
{% endblock %}