{%extends "BICIO/base.html"%}

{% block title %} EJEMPLO APP {% endblock %}

{% block nav%}
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">             
   </button>
    <li> <a id="blanco" class="page-scroll" href="#page-top"> Top page </a> </li>
    <li> <a id="blanco" class="page-scroll" href=""> Mapa</a> </li>
    <li> <a id="blanco" class="page-scroll" href=""> Gráficos</a> </li>
    <li id="active"> <a id="blanco" class="page-scroll" href= "/ejemplo/llamadaEjemplo_1"> Ejemplo1</a> </li>
    <!-- Por defecto para navegación con scroll ayuda, preguntas frecuentes, sobre nosotros, etc-->
    <li> <a id="blanco" class="page-scroll" href="#help">Ayuda</a> </li>
    <li> <a id="blanco" class="page-scroll" href="#contact">Contact</a> </li>

{% endblock%}

{% block breadcrumb%}
  <li class="active">Principal</li>
{% endblock %}

{% block barralateral%}
   <li class="active"><a href="/"><span class="glyphicon glyphicon-leaf"></span> Bienvenida </a></li>
{% endblock %}

{%block content%}

<h1> EJEMPLO APP - template_2.html</h1>

<h4> <span class="glyphicon glyphicon-leaf"></span> {{msj1}} </h4>
<h4> <span class="glyphicon glyphicon-leaf"></span> {{msj2}} </h4>
<h4> <span class="glyphicon glyphicon-leaf"></span> {{msj3}} </h4>


{% endblock %}

{% block scripts %}


{% endblock %}