{%extends "BICIO/base.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
    
{% endblock %}

{% block intro-text %} 
    Seguridad en Ciclovía
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li><a href="/GRAFICOS/disSafetyCicloviaDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}&ciclovia={{ciclovia}}">Fechas</a></li>
  <li class="active"><a href="#">Ciclovía</a></li>
{% endblock %}

{% block active5 %}
id="active"
{% endblock %}

{% block menu%}
    
{% endblock %}

{% block content %}
    {% block datepicker %}
        
    {% endblock %}

      
    {% block ciclovias %}
    
    <!--Select Ciclovia-->
    <!--Select Ciclovia-->
    <form method="GET" action="/GRAFICOS/disSafetyCiclovia/" class="bs-docs-example">
      <input data-format="yyyy-MM-DD" type="text" name="fromDate" value={{fromDate}} readonly>
      <input data-format="yyyy-MM-DD" type="text" name="untilDate" value={{untilDate}} readonly>
      <a href="/GRAFICOS/disSafetyCicloviaDateForm/?fromDate={{fromDate}}&untilDate={{untilDate}}&ciclovia={{ciclovia}}">
          <span  class="glyphicon glyphicon-wrench">
          Cambiar fechas
          </span> 
      </a>
      <br>
      <label id="color"> CICLOVÍAS MÁS TRANSITADAS </label>
      <select id="ciclovias" name="ciclovia" value={{ciclovia}} readonly>
        <option id="color">lyon</option>
        <option id="color">isabel la catolica</option>
        <option id="color">pocuro</option>
        <option id="color">parque bustamante</option>
        <option id="color">rosas</option>
        <option id="color">pajaritos</option>
        <option id="color">alameda</option>
        <!---<option id="color">Blanco Encalada</option>-->
        <!--<option id="color">Matta</option>-->
        <!--<option id="color">Grecia</option>-->
        <!--<option id="color">República</option>-->
        <option id="color">almeyda</option>
      </select>
      <input id="color" type="submit" value="Buscar">
    </form>

    {% endblock %}

    {% block graphics %}
    <!--For display Graphic-->
    <div>
      <h4 id="color">Ciclovia: {{ciclovia}} </h4>
      <div id="canvas-holder">
        <canvas id="chart-area" width="250" height="250"/>
      </div>
      <div id="legend">
        <div id="safe">Seguridad: </div>
        <div id="unsafe">Inseguridad: </div>
        <div id="total">Total Tweets: </div>
      </div>
    </div>

    {% endblock %}
{% endblock %}

{% block help %}

<h2 id="about">Seguridad por Ciclovia</h2>
<p>El gráfico muestra la distribución porcentual de los tipos de la seguridad en la ciclovia seleccionada</p>
<p>Puede seleccionar la ciclovía de su preferencia en el intervalo de fechas ya definido. Si desea otro intervalo de fechas, selecciones cambiar fechas.</p>

{% endblock %}

{% block scripts %}
<script type="text/javascript"> enableWS()</script>
<script type="text/javascript">
  jQuery(document).ready(function($){

    var myString_XML = function(){/*
        {{msje2}}
    */}.toString().slice(14,-3);
 
    //Selección de Ciclovia
    $("#ciclovias").change(function(){
      var ciclovia = $(this).val();//se obtiene el valor seleccionado
      //alert("Ciclovia "+ciclovia);
    });

    //For display graphic
    //rojo "#ea5e45" -- "#f58263" -- car
    //naranjo "#ffc150" -- "#ffd872" -- Incidentes delictuales
    //celeste "#0acaf1" -- "#04e5f9" -- Seguro
    //morado "#b71beb" -- "#d126f1" -- Inseguro
  var sumSafeVar = {{sumSafe}},
  sumUnsafeVar = {{sumUnsafe}},
  total = sumSafeVar+sumUnsafeVar,
  porcentSafe = (sumSafeVar/total)*100,
  porcentUnsafe = (sumUnsafeVar/total)*100,
  porcentSafe = parseFloat(porcentSafe.toPrecision(4)),
  porcentUnsafe =  parseFloat(porcentUnsafe.toPrecision(4)),
  totalTweets = {{total}};

  if(isNaN(porcentSafe) && isNaN(porcentUnsafe)){
    displayDialog('No se han encontrado tweets en el rango de fecha seleccionado intente\ncon otra ciclovía, en su defecto seleccione un rango de fecha válido más amplio',7000,'notice');
  }else{
    if(isNaN(porcentSafe)){
      displayDialog('No se han encontrado tweets Seguros asociados a la ciclovía en el rango de fechas seleccionado',7000,'notice');
    };
    if(isNaN(porcentUnsafe)){
      displayDialog('No se han encontrado tweets Inseguros asociados a la ciclovía en el rango de fechas seleccionado',7000),'notice';
    };
  };
  /*
  var porcentUnsafe1 = porcentUnsafe.toFixed(2);
  alert(porcentUnsafe1 +"  "+porcentUnsafe);
  */
  var pieData = [
    {
      value: porcentSafe,
      color: "#0acaf1",
      highlight: "#04e5f9",
      label: "Seguridad"
    },
    {
      value: porcentUnsafe,
      color: "#b71beb",
      highlight: "#d126f1",
      label: "Inseguridad"
    }
    ];
 
    window.onload = function(){
      var ctx = document.getElementById("chart-area").getContext("2d");
      window.myPie = new Chart(ctx).Pie(pieData);
    };
    $("#safe").append(porcentSafe.toFixed(2)+'%');
    $("#unsafe").append(porcentUnsafe.toFixed(2)+'%');
    $("#total").append(totalTweets);
  });

</script>
{% endblock %}