{%extends "BICIO/baseDateForm.html"%}

{% block title %}
    BICIO 
{% endblock %}


{% block brand-heading%} 
    
{% endblock %}

{% block intro-text %} 
    Seleccione el intervalo de fechas
{% endblock %}

{% block active5 %}
id="active"
{% endblock %}

{% block breadcrumb %}
  <li><a href="/">Principal</a></li>
  <li class="active"><a href="#">Fechas</a></li>
{% endblock %}

{% block destiny%}"/GRAFICOS/disSafetyCicloviaDefault/"{% endblock %}

{% block help %}

<h2 id="about">Formulario fechas </h2>
<p>El ingreso de fecha se debe realizar por medio del calendario desplegable, el sistema validará si falta completar algún campo (Dede o Hasta) y si la fecha "Desde" antecede o es igual (mismo día) a la fecha "Hasta".</p>
<p>Es posible seleccionar Año - Mes y Día con el botón calendario.</p>

{% endblock %}
